body {
    font-family: myfont;
    background-color: #eaecef;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myfont;
    src: url(/Font/IRANSans.ttf);
}


.loader-mah {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    z-index: 9999;

}

.loader {
    display: flex;
    --height-of-loader: 4px;
    --loader-color: #faea04;
    width: 300px;
    height: 8px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    font-family: myfont;
    flex-direction: column-reverse;
    z-index: 9999;

}

.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;


}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 8%;
    right: 19%;
    background-color: #ffffff;
    width: 900px;
    font-family: myfont;
    border-radius: 10px;
    z-index: 0;

}

.login-form {
    padding: 30px;
    width: 40%;
    position: relative;
    top: -44px;
}

.layout {
    width: 50%;
    padding: 30px;
}

.text-box p {
    color: #a3a3a3;
    width: 100%;

}

.text-box {
    font-size: 14px;
    font-weight: 400;
}

.registar a {
    color: #1b81f7;
    text-decoration: none;
}

.registar:hover {
    cursor: pointer;
}


.zarinpal-logo {
    margin: auto;

}

.zarinpal-logo img {
    width: 116px;

}

.input {
    font-family: 'myfont';
    width: 100%;
    position: relative;
    margin: 1em 0;
    font-family: myfont;
}

.input input {
    width: 100%;
    padding: 0.8em;
    font-size: 16px;
    border: 2px solid #2e2e2e;
    border-radius: 5px;
    background: transparent;
    outline: none;
    transition: border 0.3s ease;
}

.input label {
    position: absolute;
    right: 12px;
    top: 30%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #888e91;
    padding: 0 5px;
    pointer-events: none;
    transition: all 0.25s ease;
    background: transparent;
}



.input label {
    font-size: 15px;
}

.input input:focus,
.input input:valid {
    border-color: rgb(9, 49, 134);
}

.input input:focus+label,
.input input:valid+label {
    top: 0;
    transform: translateY(-50%) scale(0.88);
    background: #fff;
    padding: 0 4px;
}

.input input.error {
    border-color: #c4425a;
}


.btn button {
    height: 34px;
    color: #000;
    font-size: 14px;
    box-shadow: 0 6px 20px 0 rgba(255, 237, 0, .39);
    background-color: #ffe53b !important;
    padding: 0 24px;
    border-radius: 21px;
    border: none;
    font-family: myfont;
    float: left;
}



.layout {
    width: 59%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-shell {
    width: 100%;
    height: 100%;
}

.carousel {
    position: relative;
    overflow: hidden;
    height: 520px;
    border-radius: 12px 0px 0px 12px;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controls {
    position: absolute;
    left: 14px;
    bottom: 14px;
    display: flex;
    gap: 8px;
}

.controls label {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

input[type=radio] {
    display: none;
}

#s1:checked~.carousel .slides {
    transform: translateX(0%);
}

#s2:checked~.carousel .slides {
    transform: translateX(100%);
}

#s3:checked~.carousel .slides {
    transform: translateX(200%);
}

.two-input {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.one-input input {
    width: 100%;
}

.input {
    position: relative;
    margin: 1em 0;
    font-family: myfont;
}

.input input {
    width: 100%;
    padding: 0.8em;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    background: transparent;
    outline: none;
    transition: border 0.3s ease;
}

.input label {
    position: absolute;
    right: 12px;
    top: 44%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #888e91;
    padding: 0 5px;
    pointer-events: none;
    transition: all 0.25s ease;
    background: transparent;
}



.input label {
    font-size: 15px;
}

.input input:focus,
.input input:valid {
    border-color: rgb(9, 49, 134);
}

.input input:focus+label,
.input input:valid+label {
    top: 0;
    transform: translateY(-50%) scale(0.88);
    background: #fff;
    padding: 0 4px;
}


@media screen and (max-width: 700px) {
    .container {
        display: block;
    }

    .container {
        display: flex;
        position: fixed;
        margin: auto;
        justify-content: center;
        top: 15%;
        right: 0;
        left: 0;
        background-color: #ffffff;
        width: 95%;
        font-family: myfont;
        border-radius: 10px;

    }

    .layout,
    .slider-shell {
        display: none;
    }

    .login-form {
        padding: 20px;
        width: 100%;
    }

    .btn {
        padding-bottom: 40px;
        padding-top: 30px;
    }


    .input input {
        width: 100%;
        padding: 0.8em;
        font-size: 16px;
        border: 1px solid #000000;
        border-radius: 5px;
        background: transparent;
        outline: none;
        transition: border 0.3s ease;
    }

    .two-input {
        display: block;
        width: 100%;


    }

    .one-input input {
        width: 100%;
    }

    .login-form {
        top: -5px;
    }
}