@font-face {
    font-family: "myfont";
    src: url(/Font/IRANSans.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: myfont;
    color: black;
    background-color: #f1f1f3;
}

.main {
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    height: 55px;
    width: 100%;
    align-items: center;
}


nav {
    display: flex;
    gap: 20px;
}

nav li {
    list-style: none;
    /* margin: 8px; */
    color: #5a5a5a;
    padding: 8px 9px;
    cursor: pointer;
    font-size: 15px;
}


.logo img {
    opacity: 1;
    height: 24px;
    width: 100%;
    margin: 14px;
}

.btn button {
    background-color: #0a33ff;
    color: white;
    font-family: myfont;
    font-size: 14px;
    padding: 10px 25px;
    margin: 12px;
    border: none;
    border-radius: 999px;
    font-weight: bold;
}


nav li:hover {
    background-color: rgba(128, 128, 128, 0.055);
    color: black;
    border-radius: 999px;
}

.menu li img {
    transition: transform 0.3s ease;
    display: inline-block;
}

.menu li img.rotated {
    transform: rotate(180deg);
}

.content {
    display: flex;
    justify-content: space-around;
    direction: ltr;
    background-image: linear-gradient(to right, #171d3e, #19191d);
    width: 97%;
    min-height: 525px;
    max-height: 530px;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    color: white;


}


.inner-curve {
    --r: 20px;
    --s: 40px;
    --a: 20deg;
    --p: 50%;
    height: 500px;
    aspect-ratio: 3/2;
    border-radius: var(--r);
    --_m: calc(100% - var(--r)), #000 calc(100% - 1px), #0000;
    --_d: (var(--s) + var(--r))*cos(var(--a));
    mask:
        radial-gradient(var(--r) at calc(var(--p) + var(--_d)) var(--_m)),
        radial-gradient(var(--r) at calc(var(--p) - var(--_d)) var(--_m)),
        radial-gradient(var(--s) at var(--p) calc(100% + sin(var(--a))*var(--s)),
            #0000 100%, #000 calc(100% + 1px)) 0 calc(var(--r)*(sin(var(--a)) - 1)) no-repeat,
        linear-gradient(90deg, #000 calc(var(--p) - var(--_d)), #0000 0 calc(var(--p) + var(--_d)), #000 0);
}

.text {
    color: #19191ABF;
    direction: rtl;
}

.text-box {
    display: block;
    padding: 40px;
    direction: rtl;
    font-size: large;
    margin-top: 60px;

}

.text-box p {
    color: #b1bdc7;
    font-size: small;
}

.btn button:hover {
    background-color: #102dc0;
    cursor: pointer;
}

.menu nav {
    position: relative;
}

.has-submenu {
    position: relative;
}

.has-submenu .submenu {
    position: absolute;
    right: 0;
    top: calc(100% + 6px);
    background: #fff;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 8px 0;
    min-width: 200px;
    display: none;
    z-index: 50;
    margin: 10px;
}

.submenu li p {
    color: gray;
    font-size: smaller;
}

.submenu li {
    color: black;
}

.submenu {
    padding: 15px !important;
    border-radius: 20px !important;
}

.has-submenu .submenu ul {
    list-style: none;
}

.has-submenu .submenu li {
    padding: 8px 16px;
    white-space: nowrap;
    cursor: pointer;
}

.has-submenu .submenu li:hover {
    background: rgba(0, 0, 0, 0.03);
}

.has-submenu.open .submenu {
    display: block;
}

.our-scrolling-ticker {
    padding: 0 48PX 0 48px;
    margin: 50px;
}

.scrolling-ticker-box {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    align-items: center;
}

.scrolling-content {
    flex-shrink: 0;
    display: flex;
    gap: 35px;
    min-width: 100%;
    animation: scroll 30s linear infinite;
}

.scrolling-content div {
    display: flex;
    align-items: center;
    color: gray;
    filter: grayscale(100%);

}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(50%);
    }
}

.mobile-menu,
.hamburger {
    display: none;
}

.zarin-pg {
    display: flex;
    align-items: center;
    background-color: #2b2d34;
    width: max-content;
    height: max-content;
    border-radius: 24px;
    padding: 4px 8px;
}

.zarin-pg span {
    color: #c5c4c2;
    font-size: 12px;
    margin: 0 5px;
}

.zarin-pg span {
    display: block;
}

.services-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    direction: ltr;

}

.services-se {
    background-color: #fbfbfc;
    width: 290px;
    height: 300px;
    border: 2px solid hsla(0, 0%, 100%, .749);
    border-radius: 24px;
    padding: 40px 24px;
    text-align: center;
}


.services-section p {
    font-size: larger;
    font-weight: bold;
}

.services-section span {
    font-size: 14px;
    font-weight: 500;
    color: #525d78;
}

.mohandas {
    width: 97%;
    height: auto;
    background-color: #ffffff;
    border-radius: 24px;
    margin: auto;
    padding: 120px 40px;

}

.mohandas-da {
    display: flex;
    justify-content: space-around;
    width: 93%;
    height: auto;
    background-color: #f9f9fb;
    border-radius: 24px;
    margin: auto;
    padding: 50px;

}

.btns {
    display: flex;
    gap: 2px;
    align-items: center;
}

.btn-m button {
    background-color: transparent;
    border: 1px solid rgba(25, 25, 26, .1);
    color: #19191a;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 999px;
    font-weight: bold;
    font-family: myfont;
    display: flex;
    align-items: center;
    gap: 5px;

}

.btn-m:hover button {
    background-color: #f1f1f3;
}




.vigheh {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: -504px;
}

.v {
    display: flex;
    align-items: center !important;

}


.v div {
    display: flex;
    align-items: center !important;
    gap: 6px;
    font-size: 18px;
}

.dark-content {
    background-color: #000;
    width: 97%;
    margin: auto;
    border-radius: 24px;
    display: flex;
    padding: 120px 40px;

}



.tt {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
}

.Img_Devdocs {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 4;
}

.buttoncustom {
    grid-column: span 6 / span 6;
    grid-row-start: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;


}



.dark-content-2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    background-color: #19191a;
    border-radius: 24px;
    width: 97%;
    margin: auto;
    padding: 5rem 2.5rem;
}


.tt p {
    color: #c5c5c6;
}

.tt h1 {
    color: white;
}

.tt span {
    color: #c5c5c0;
}

.mostanadat button {
    background-color: #ffffff;
    font-size: 14px;
    padding: 12px 24px;
    border: none;
    border-radius: 999px;
    font-family: myfont;

}

.mostanadat button:hover {
    background-color: #ffffffc7;
    cursor: pointer;
}

.buttoncustom>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    gap: 4px;
    color: #ffffff;
    background-color: #2c2c2d;
    border-radius: 16px;
    padding: 1.5rem;
    text-decoration: none;
    width: 100%;
}

.buttoncustom>div:hover {
    background-color: #545457;
}


.img-site {
    display: flex;
    justify-content: center;
}

.zarin-pg:hover {
    background-color: rgba(0, 0, 0, 0.76);
    cursor: pointer;

}

.content-acker {
    background-color: white;
    width: 97%;
    height: auto;
    margin: auto;
    border-radius: 24px;
    padding: 120px 40px;
}

.content-acker-2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    gap: 15px;
    width: 97%;
    height: auto;
    margin: auto;
    border-radius: 24px;
    background-color: #f9f9fb;
}




.c-1 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
}

.c-2 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 4;



}

.c-3 {
    grid-column: span 6 / span 6;
    grid-row-start: 5;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    padding: 0 30px;
}

.c-3 div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;

}

.c-2 p {
    color: #616462;


}

.c-2 span {
    color: #19191abf;
    font-size: 14px;

}

.c-1 div {
    display: flex;
    justify-content: center;
}

.text-box-nazar h2 {
    padding: 13px;
}

.text-box-nazar {
    text-align: center;
}

.text-box-nazar span {
    font-size: 14px;
}

.parent-nazar-2,
.parent-nazar {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding: 7px;
    margin: 40px;
}

.nazar1,
.nazar2,
.nazar3,
.nazar4,
.nazar5,
.nazar6 {
    background-color: #ffffffbf;
    border-radius: 24px;
    direction: rtl;
    padding: 40px;
    width: 100%;
    height: auto;
}

.profile {
    display: flex;
    justify-content: start;
}

.pro-text-info {
    display: block;
}

.pro-text-info p {
    color: #19191a;
    font-size: 14px;
    margin: 5px;

}

.pro-text-info :nth-child(2) {
    color: #19191abf;
    font-size: 14px;
    margin: 5px;
}

.star {
    display: flex;
    margin: 15px;
    justify-content: start !important;
}



.accordion {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
}

.accordion-item {
    background: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    cursor: pointer;
    user-select: none;
    border-radius: 20px;
    background-color: #fff;
}

.accordion-icon {
    transition: transform 0.3s ease;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 40px;
    color: #454645;
}

.accordion-content p {
    margin-top: -40px !important;
}

.accordion-item.active .accordion-icon {
    transform: rotate(180deg);
}

.accordion-item.active .accordion-content {
    max-height: 200px;
    padding: 15px 20px;

}

.btn-mm button {
    display: flex;
    align-items: center;
    gap: 15px;
    border: none;
    background-color: #fff;
    color: #19191a;
    font-size: 14px;
    padding: 12px 24px;
    border-radius: 999px;
    font-family: myfont;
}

.btn-mm button:hover {
    background-color: rgba(128, 128, 128, 0.247);
    cursor: pointer;
}

.btn-mm {
    display: flex;
    justify-content: center;
    padding: 24px 0;

}

.tablechat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #0a33ff;
    border-radius: 24px;
    width: 97%;
    height: auto;
    padding: 5rem 0 0;
    color: white;
}

.back-zar {
    background-color: #fff;
    border: 2px solid hsla(0, 0%, 100%, .5);
    padding: .75rem;
    border-radius: 16px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: max-content;


}

.btn-a {
    display: flex;
    justify-content: center;
    width: max-content;
    margin: auto;


}

.btn-a button {
    border: none;
    border-radius: 999px;
    font-family: myfont;
    padding: 10px;
    background-color: #fff;
    font-weight: 500;

}

.pattern {
    height: 62.5rem;
    left: calc(50% - 560px);
    position: absolute;
    width: 70rem;
    z-index: 0;
    display: none;

}

.pattern img {
    margin-top: -208px;

}


.btn-a:hover {
    background-color: rgba(128, 128, 128, 0.247);
    cursor: pointer !important;
}

.banner {
    background-color: #f9f9fb;
    border-radius: 24px;
    color: #19191a;
    font-size: 20px;
    padding: 40px;
    text-align: right;
    width: 89%;
    height: auto;
    margin: auto;
}


.footer {
    overflow: hidden;
    background-color: #ffffff;
    padding: 80px 50px 40px 50px;
    width: 100%;
    height: auto;
}

.texts {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btn-dar button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: myfont;
    background-color: #fff;
    color: #19191a;
    border: none;
    font-size: 14px;
    padding: 12px 24px;
    border-radius: 999px;
}

.btn-dar button:hover {
    background-color: #2b2d344d;
    cursor: pointer;

}



.links2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.mamas {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.menu-footer {
    margin: 60px;
}

.mamas a {
    text-decoration: none;
    color: #19191abf;
    cursor: pointer;
    font-size: 14px;
}

.mamas a:hover {
    color: #0a33ff;
    cursor: pointer;

}

.menu-footer {
    display: flex;
    justify-content: space-evenly;
    gap: 130px;
}

.enamad {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -370px;
}

.socal-footer {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.hr {
    display: flex;
    border: 1px solid rgba(25, 25, 26, .1);
    width: 100%;
    height: 1px;
    position: relative;
    box-sizing: border-box;
    align-self: stretch;
    margin: auto;
}

.socal-footer:hover {
    cursor: pointer;
}

.text-footer {
    text-align: center;
    font-weight: 500;
    color: #19191abf;
}





@media screen and (max-width: 768px) {
    .menu nav li {
        display: none;
    }

    #content {
        display: flex !important;
        flex-direction: column-reverse;
        min-height: auto;
        max-height: none;
        align-items: center;
        padding: 20px !important;
    }




    #content img {
        width: 100%;
        height: 310px !important;
        margin: 5px;
    }

    #content .text-box h1 {
        font-size: 23px;
        text-align: center;
    }






    .inner-curve {
        height: auto;
    }

    .btn button {
        margin: 1px;

    }



    .zarin-pg {
        margin: auto;
    }

    .p-mo {
        text-align: center !important;
        font-size: 15px;
    }


    .hamburger {
        font-size: large;
        cursor: pointer;
        display: inline-block;
    }


    .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        direction: rtl;
        background-color: #fff;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 999;

    }

    .mobile-menu.active {
        transform: translateY(0);
    }

    .mobile-menu ul {
        list-style: none;
    }

    .mobile-menu ul li {
        margin: 10px;
        padding: 6px;
        color: black;
    }

    .mobile-menu ul li a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
        font-weight: bold;
        transition: color 0.3s;

    }

    .mobile-menu ul li a:hover {
        color: #007bff;
    }

    .close-btn {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 24px;
        cursor: pointer;
        color: #333;
    }



    .parent-mob-menu {
        display: grid !important;
        grid-template-columns: repeat(5, 1fr) !important;
        grid-template-rows: repeat(5, 1fr) !important;
    }

    .div-menu-1 {
        grid-column: span 5 / span 5 !important;
    }

    .div-menu-2 {
        grid-column: span 5 / span 5 !important;
        grid-row: span 4 / span 4 !important;
        grid-row-start: 2 !important;
    }



    .our-scrolling-ticker {
        padding: 0 20px;
        margin: 30px 0;
    }

    .scrolling-content div span img {
        width: 180px !important;
        height: auto;
    }

    .scrolling-content {
        gap: 45px;
    }

    .services-se {
        width: 90%;
        height: auto;
    }

    .vigheh {
        display: none;
    }

    .mohandas-da {
        display: block;
        padding: 9px !important;


    }

    .mohandas-da img {
        width: 100%;
        height: auto;
    }

    .mohandas {
        width: 90% !important;
        padding: 2.5rem 1rem;
    }

    .mohandas-da {
        height: 880px;
        width: 100%;
        padding: 0;
    }

    .text-box {
        text-align: center;
        padding: 0 !important;
    }

    .text-box h2 {
        font-size: 20px !important;
    }

    .btns {
        flex-direction: column;
        gap: 1px;
    }

    .dark-content-2 {
        display: block !important;
        padding: 60px 20px !important;
    }


    .buttoncustom {
        display: none;
    }

    .zarin-pg span {
        display: none;
    }

    .Img_Devdocs img {
        display: flex !important;
        flex-wrap: wrap;
        width: 100%;
        height: auto;

    }


    .dark-content {
        background-color: #000;
        width: 95%;
        margin: auto;
        border-radius: 24px;
        display: flex;
        padding: 2.5rem 1rem;

    }

    .dark-content-2 {
        display: flex !important;
        flex-direction: column-reverse !important;
    }

    .tt {
        text-align: center;
    }

    .tt h1 {
        font-size: 20px;
    }

    .tt span {
        font-size: 14px;
    }

    .content-acker-2 {
        display: block;
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .content-acker {
        padding: 2.5rem 1rem;
    }

    .c-1 img {
        width: 100%;
    }

    .c-3 {
        display: none;
    }





    .parent-nazar,
    .parent-nazar-2 {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 15px;
        padding: 15px;
        margin: 0;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    .nazar1,
    .nazar2,
    .nazar3,
    .nazar4,
    .nazar5,
    .nazar6 {
        flex: 0 0 auto;
        width: 100%;
        min-width: 280px;
    }

    .parent-nazar::-webkit-scrollbar,
    .parent-nazar-2::-webkit-scrollbar {
        display: none;
    }

    .accordion div h1 {
        font-size: 20px;
    }

    .accordion-item {
        margin: 10px;
    }

    .Img_Collection img {
        height: auto;
        width: 100%;
    }

    .pattern {
        display: none;
    }

    .tex-gggg h1 {
        font-size: 20px;
    }

    .tex-gggg p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .texts {
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .span-gray {
        font-size: 15px;
        white-space: nowrap;

    }

    .span-rrrr {
        padding-bottom: 20px;
        text-align: center;
    }

    .banner {
        width: 95% !important;
    }

    .footer {
        padding: 80px 25px 40px 25px;

    }

    .fffff p {
        text-align: center;
    }

    .menu-footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 1px;

    }

    .enamad {
        margin-top: -842px;
        margin-right: 70px;
    }


    .links2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;

    }

    .socal-footer {
        display: block;
        margin: auto;
    }

    .zarinpal-logosvg {
        text-align: center;
        padding: 30px;
    }





}